@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  background: var(--white-color);
  font-family: var(--font-family);
  color: var(--black-color);
  height: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none;
 }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }
/* ------------------------------------------------- */
/* ----------------------VARS-------------------------------------- */
:root {
  --white-color: #fff;
  --black-color: #000;
  /* bg colors */
  --bg-color-white: #EDF2F7;
  --block1-first-half-color: linear-gradient(270deg, #D7E2EC 0%, #FBFDFF 85.21%);
  --block1-second-half-color:#EFF4F9;
  --block-2-bg-color:#F9FBFB;
  --blolck-3-first-half-color:linear-gradient(90deg, #FFFCF9 0%, #EACFB0 100%) ;
  --block-3-bg-color: #F6EADC;
  /* border colors */
  --rectangel-color:#DBE3EC;
  /* font color */
  --grey-color:#6A7E80;
  --purple-color:#4655A5;
  /* fonts */
  --font-family:'Ubuntu', sans-serif;
  --bold-title-weight: 700;
  --regular-text-weight: 400;
  --H1-size: 48px;
  --H2-size: 32px;
  --H3-size: 24px;
  --H1-line-height: 64px;
  --H2-line-height: 42px;
  --h3-line-height: 32px;
  --big-text-size: 28px;
  --middle-text-size: 26px;
  --row-text-size: 18px;
  --big-text-line-height: 36px;
  --row-text-line-height:28px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Ubuntu:wght@400;700&display=swap');
.block1{
  max-width: 1366px;
  margin: 31px auto;
  
}
/*  -----------------------------HEAD-MENU--------------------- */
.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 35px;
}
.menu__group1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.menu__logo {
  display: block;
  margin-right: 10px;
}
.menu__logo img {
  width: 124px;
  height: 27px;
}
.menu__text {
  margin-top: 10px;
  max-width: 136px;
  font-size: 10px;
  text-align: left;
  color: #708294;
  margin-right: 45px;
  white-space: nowrap;
}
.menu__enter, .menu__registr {
  position: relative;
  margin-right: 24px;
  font-size: 19px;
  font-weight: var(--bold-title-weight);
  line-height: 24px;
  color: var(--purple-color);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
}
.menu__grop2 {
  display: flex;
  align-items: center;
}
.menu__question {
font-size: 18px;
font-weight: var(--regular-text-weight);
line-height: var(--row-text-line-height);
color: var(--grey-color);
}
.menu__question a {
  font-size: 19px;
  font-weight: var(--bold-title-weight);
  line-height: 24px;
  letter-spacing: -0.05em;
  color: var(--black-color);
  padding: 0 24px 0 11px;

}
.menu__button {
  margin-top: 2px;
  background: var(--bg-color-white);
  min-width: 195px;
  min-height: 40px;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 20px;
} 
.menu__link{
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: 19px;
  font-weight: var(--bold-title-weight);
  line-height: 24px;
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
  color: var(--purple-color);
}

/* --------------MAIN-HEAD-BLOCK--------------------------------- */
.block1__main {
  margin: 122px auto;
}
.main__title {
  font-size: 64px;
  font-weight: var(--bold-title-weight);
  line-height: 72px;
  text-align: center;

}
.main__text {
  max-width: 584px;
  margin: 24px auto;
  font-size: 24px;
  font-weight: var(--regular-text-weight);
  line-height: var(--big-text-line-height);
  text-align: center;
}
.main__text span {
  background: rgba(255, 230, 0, 0.35);
} 
.main__rightrow {
  margin-top: 43px;
  display: flex;
  align-items: baseline;
  margin-left: calc(50% - 273px/2);
}
.main__item {
  margin-right: 149px;
}
.main__item:last-child {
  margin-right: 0px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 56px;
  font-weight:var(--bold-title-weight);
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
  letter-spacing: 0.01em;
  background: radial-gradient(100% 385.84% at 0% 100%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(97.32% 97.32% at 50% 2.68%, rgba(251, 0, 255, 0.8) 0%, rgba(242, 213, 223, 0) 100%), linear-gradient(180deg, #E82299 0%, #FF0055 100%);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.01), 0px 2px 4px rgba(255, 255, 255, 0.1), 0px 4px 16px rgba(255, 0, 0, 0.1), 0px 8px 24px rgba(227, 18, 209, 0.1);
  border-radius: 999px;
}
.item__tit {
  position: relative;
  text-align: right;
  margin-bottom: 16px;
  min-width: 322px;
}
.item__tit a{
  font-size: 24px;
  font-weight: var(--bold-title-weight);
  line-height: 32px;
  color: var(--purple-color);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
}
.item__tit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/play.png) 0 0 no-repeat;
  background-size: cover ;
  width: 48px;
  height: 48px; 
}

.item__body {
  font-size: 18px;
  font-weight: var(--regular-text-weight);
  line-height: var(--row-text-line-height);
  text-align: justify;
  max-width: 258px;
  margin-left: 50px;
  color: var(--grey-color);
}
.item__body span {
  color: #E82264;
}
.main__advantage {
  margin: 46px auto; 
  margin-bottom: 105px; 
  display: flex;
  max-width: 984px;
  align-items: flex-end;
}
.advantage-column {
  margin-right: 65px;
}
.advantage-column:last-child{
  margin-right: 0;
}
.advantage__item1 img{
  object-fit: cover;
  width: 95px;
  height: 83px;
}
.advantage__item2 img{
  object-fit: cover;
  width: 75px;
  height: 97px;
}
.advantage__item3 img{
  object-fit: cover;
  width: 65px;
  height: 72px;
}
.item__head {
  margin-top: 15px;
  font-size: var(--H3-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H2-line-height);
  text-align: left;

}
.item__text {
  margin-top: 8px;
  max-width: 285px;
  font-size: var(--row-text-size);
  font-weight: var(--regular-text-weight);
  line-height: var(--row-text-line-height);
  text-align: left;
  max-height: 84px;
}

/*-------------------------HEADER - MEDIA - MOBILE---------------------------*/

@media ( max-width: 1367px ){
  .menu{
    max-width: 957px;
    margin: 0 auto;
  }
  .main__rightrow{
    display: block;
    max-width: 957px;
    margin: 0 auto;
  }
  .main__item {
    margin: 0 auto;
  }
  .main__item a{
    margin: 0 auto;
    text-align: center;
  }
  .item__tit {
    margin: 25px auto;
    min-width: 0px;
    width: 300px;
  }
  .item__body {
    margin: 0 auto;
  }
}
@media ( max-width: 972px ) {
  .menu {
    width:fit-content;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .block1__main {
    margin:50px auto;
  }
  .main__advantage {
    margin-bottom: 0;
  }
  .menu {
    max-width: 360px;
  }
  .menu__group1 {
    text-align: center;
    flex-wrap: wrap;
  }
  .menu__grop2 {
    flex-wrap: wrap;
  }
  .menu__question a{
    padding: 0;
  }
  .main__title {
    line-height: 24px;
    font-size: 200%;
  }
  .main__text {
   
    font-size: 120%;
  }
  .advantage-column {
    margin: 0 auto;
    text-align: center;
  }
  .advantage-column:last-child {
    margin: 0 auto;
  }
  .main__advantage {
    margin: 10 auto 0 auto;
    flex-wrap: wrap;
  }
}

@media ( max-width: 350px ) {
  .menu{
    max-width: 220px;
  }
}
/* ----------------------------------MAIN/HEAD-INFO__BLOCK ------------------------------- */
.info-block {
}
.first-half {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--block1-first-half-color);
}
.container {
  max-width: 1367px;
  margin: 0 auto;
}
.first__row {
  display: flex;
  align-items: flex-start;
}
.first__item {
  padding: 142px 0 130px 0;
}
.first__title {
  max-width:  903px;
  font-size:  var(--H1-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H1-line-height);
  text-align: left;
  }
.first__text {
  max-width: 610px;
  font-size: 26px;
  font-weight: var(--regular-text-weight);
  line-height: var(--big-text-line-height);
  text-align: left;

}
.item__img {
  position: absolute;
  margin-top: 20px;
  left: calc(672 * 100% / 1366);
}
.item__img img {
  object-fit: contain;
  width: 683px;
  height: 376px;
}

/* --------------------------------------------------- */

.second-half {
  background: var(--block1-second-half-color);
}
.second__row {
  padding: 40px 0 137px 0;
  display: flex;
}
.second__column {
  margin-right: 32px;
}
.second-column:last-child {
  margin-right: 0;
}
.second__img{
  height: 96px;
  width: 96px;
  text-align: center;
  vertical-align:middle;
}
.logic img{
  object-fit: cover;
  height: 69px;
  width: 65px;
}
.clock img{
  object-fit: contain;
  width: 77px;
  height: 77px;
}
.message img{
  object-fit: contain;
  width: 77px;
  height: 77px;
}
.second__title {
  margin: 11px 0 24px 0;
  max-width: 434px;
  font-size: var(--H3-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H2-line-height);
  text-align: left;
}
.second__text {
  color: var(--grey-color);
  max-width: 434px;
  font-size: var(--row-text-size);
  font-weight: var(--regular-text-weight);
  line-height: var(--row-text-line-height);
  text-align: left;
}
/* -------------------MOBILE MEDIA - MAIN/HEAD-INFO__BLOCK -------------------*/
@media ( max-width: 1367px ) {
  .first__row {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .first__item {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .item__img {
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .item__img img {
    position: static;
    object-fit: contain;
    
  }
  .first__title {
     padding-top: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 200%;
    margin: 0 auto;
  }
  .first__text {
    text-align: center;
    margin: 0 auto;
    font-size: 120%;
  }
}
@media ( max-width: 747px ) {
  .first__title {
    padding-top: 20px;
    line-height: 24px;
  }
  .first__text {
    line-height: 24px;
  }
  .item__img img{
    width: 310px;
    height: 276px;
  }
  .second__row {
    padding: 40px 0 40px 0;
    flex-wrap: wrap;
  }
  .second__column {
    margin: 0 auto;
  }
  .second__img, .second__title, .second__text {
    text-align: center;
  } 
  .second__title {
    font-size: 120%;
  }
  .second__text {
    font-size: 100%;
  }
  .second__img {
    margin: 0 auto;
  }
}

/* -------------------------INFO-MAIN-BLOCK-2-------------------------------- */
.info-block-2 {
  padding-top: 80px;
  background-color: var(--block-2-bg-color)
}
.container {
}
.block-2__title {
  font-size: var(--H1-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H1-line-height);
  text-align: center;
  padding-bottom: 24px;
}
.block-2__text {
  font-size: 26px;
  font-weight: var(--regular-text-weight);
  line-height: var(--big-text-line-height);
  text-align: center;
  margin-bottom: 73px;
}
.block-2__container {
  max-width: 1173px;
}
.block-2__group {
  max-width: 1173px;
  margin-left:calc(160 * 100% / 1366);
}

.group__row {
  margin-bottom: 169px;
  display: flex;
  align-items: center;
}
.group__row:last-child {
  margin-bottom: 0;
  padding-bottom: 167.5px;
}
.group__item {
  margin-right: 32px;
}
.group__item:last-child {
  margin-right: 0;
}
.group__title {
  margin-bottom: 24px;
  font-size: var(--H2-size);
  font-weight: var(--bold-title-weight);
  line-height: 42px;
  text-align: left;

}
.group__text {
  max-width: 434px;
  color: var(--grey-color);
  font-size: var(--big-text-size);
  font-weight: var(--regular-text-weight);
  line-height: var(--big-text-line-height);
  text-align: left;

}
.group__border {
  position: relative;
  padding-top: 20px;
  width: 667px;
  height: 420px;
  background: linear-gradient(180deg, #F1F5F8 47.4%, #FFFFFF 100%); 
  border-radius: 5px;
  box-shadow: 0px -2px 0px 2px var(--white-color), 0px -10px 40px 0px rgba(69, 130, 134, 0.2);
}

.group__bg {
  margin: 0px 0 0 20px;
  border-radius: 5px; 

}
.group__border::before {
  content: '';
  top: 367.65px;
  right: -6%;
  position: absolute;
  width: 747px;
  height: 60px;
  background: var(--block-2-bg-color);
}
.group__bg img{
  object-fit: cover;
  width: 628px;
  height: 387px;
}
.twobg img {
  object-fit: contain;
}
.threebg img {
  object-fit: contain;
  height: 367.65px;
}
.fourbg img{
  object-fit: fill;
  width: 628.42px;
}
/* ----------------------------MOBILE-MAIN-BLOCK-2---------------------------- */
@media ( max-width: 1367px ) {
  .block-2__group  {
    margin: 0 auto;
  }
  .group__row {
    margin: 0 auto;
    flex-direction: column;
  }
  .group__title {
    text-align: center;
  }
  .group__text {
    text-align: center;
  }
  .group__text {
    margin-bottom: 20px;
  }
}

@media ( max-width: 747px ) {
  .info-block-2 {
    padding-top: 20px;
  }
  .block-2__title {
    margin: 0 auto;
    line-height: 24px;
    font-size: 200%;
  }
  .block-2__text {
    margin: 0 auto;
    line-height: 24px;
    font-size: 120%;
  }
  .group__row:last-child {
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  .group__item {
    width: 100%;
    margin: 0 auto;
  }
  .group__title {
    margin: 0 auto;
    font-size: 120%;
  }
  .group__text {
      margin: 0 auto;
      font-size: 100%;
  }
  .group__border {
    margin: 0 auto;
    width: 350px;
    height: 233px;
  }
  .group__border::before {
    height: 40px;
    width: 355px;
    left: -1%;
    top: 200px;
  }
  .group__bg {
    margin: 0 auto;
    text-align: center;
  }
  .group__bg img{
    width: 321px;
    height: 200px;
  }

}
@media( max-width:370px) {
  .block-2__title{
    font-size: 170%;
  }
  .group__bg img{
    width: 310px;
    height: 200px;
  }
  .group__border {
    margin: 0 auto;
    width: 310px;
    height: 233px;
  }
  .group__border::before {
    height: 40px;
    width: 310px;
    left: 0;
    top: 200px;
  }
}

/* -------------------------MAIN-BLOCK-3----------------------------- */
.info-block-3 {
}
.block-3__half-one {
  width: 100%;
  background: var(--blolck-3-first-half-color) ;
}
.half-one__row {
  padding-top: 156px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 68px;
}
.half-one__title {
  margin: 0 32px 80px 0;
  max-width: 667px;
  font-size: var(--H1-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H1-line-height);
  text-align: left;
}

.half-one__img img {
  width: 667px;
  height: 445px;
  object-fit: contain;
}
.block-3__half-two {
  min-height: 540px;
  position: relative;
  background: var(--block-3-bg-color);
  width: 100%;
  z-index: 2;
}
.half-two__row {
  background: transparent;
  position: absolute;
  top: -28px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 224px;
  z-index: 1;
}
.two-row__column {
  margin-right: 32px;
}
.two-row__column:last-child {
  margin-right: 0;
}
.two-row__img {
  width: 64px;
  height: 64px;
}
.two-row__title {
  margin: 23.65px 0 16px 0;
  max-width: 318px;
  font-size: var(--H3-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H2-line-height);
  text-align: left;
}
.two-row__text {
  font-size: var(--row-text-size);
  font-weight: var(--regular-text-weight);
  line-height: var(--row-text-line-height);
  text-align: left;
  max-width: 318px;
  color: var(--grey-color);
}
/* ----------------------------------MAIN-BLOCK-3 MOBILE----------------------- */
@media ( max-width: 1367px ) {
  .block-3__half-two{
    min-height: 600px;
  }
  .half-one__row {
    padding-top: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .half-one__title {
    text-align: center;
    margin: 0 auto;
  }
  .half-one__img {
    margin: 0 auto;
  }
  .half-two__row{
    left: 24%;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 720px;
    padding-bottom: 0;
  } 
  .two-row__column {
    margin: 0 auto;
  }

}
@media ( max-width:850px ) {
  .block-3__half-two{
    min-height: 1100px;
  }
  .two-row__column:last-child{
    margin: 0 auto;
  }
  .group__border::before {
    width: 717px;
    left:-5%;
  }
}
@media ( max-width: 747px ) {
  .block-3__half-two{
    min-height: 850px;
  }
  .half-one__title {
    line-height: 24px;
    font-size: 200%;
  }
  .half-one__img img {
    width: 340px;
    height: 210px;
  }
  .two-row__title {
    font-size: 120%;
  }
  .two-row__text {
    font-size: 100%;
  }
  .group__border::before {
    width: 350px;
    left: 0%;
  }
}
@media ( max-width: 430px) {
  .block-3__half-two{
    min-height: 1100px;
  }
  .half-one__img {
    max-width: 310px;
  }
  .half-one__img img {
    width: 300px;
    height: 210px;
  }
  .group__border::before {
    width: 310px;
    left: 0%;
  }
}

/* ---------------------------  INFO-BLOCK-4 ------------------------------- */

.info-block-4 {
  padding: 249px 0 261px 0;
  background: var( --block-2-bg-color);
}
.container {
}
.block-4 {
  max-width: 1133px;
}
.block-4__row {
  display: flex;
}
.block-4__column {
  margin-right: 100px;
  max-width: 466px;
}
.block-4__column:last-child{
  margin-right: 0;
}
.rectangel {
 
  width: 1px;
  background: var(--rectangel-color);
}
.bolck-4-column__head {
  color: var(--black-color);
  font-size: var(--H2-size);
  font-weight: var(--bold-title-weight);
  line-height: var(--H2-line-height) ;
  text-align: left;
}
.form-head{
  font-size: var(--H3-size);
  line-height: var(--h3-line-height);
}
.block-4-column__text {
  margin: 16px 0px 53px 0;
  color: var(--black-color);
  font-size: var(--middle-text-size);
  font-weight: var(--regular-text-weight);
  line-height: var(--big-text-line-height);
}
.form-text{
  margin: 24px 0px 49px 0;
  font-size: var(--row-text-size);
  line-height: var(--row-text-line-height);
}
.block-4-column__img img{
  object-fit: cover;
  width: 466px;
height: 381px;
}

.block-4-column__form {
}
.form-title {
  display: block;
  color: var(--grey-color);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on;
  margin-bottom: 8px;
}
.email-title{
  margin-top: 16px;
}
.form__select{
  display: flex;
  align-items: center;
}
.form__icon {
  background-color: var(--bg-color-white);
  width: 122px;
  height: 56px;
  display: flex;
  align-items: center ;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.form__icon select{
  background-color: var(--bg-color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.form__icon select option{
font-weight: 700;
}
.form__icon img{
  width: 24px;
  height: 16px;
}
#tel{
  font-size: 18px;
  font-weight: var(--regular-text-weight);
  color: var(--grey-color);
  color: transparent;
  padding-left: 11px;
  width: 344px;
  height: 56px;
  border: 1px solid var(--rectangel-color);
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#tel::placeholder{
  opacity: 0.4;
}
#tel:focus{
  color: var(--black-color);
}
#email{
  font-size: 18px;
  font-weight: var(--regular-text-weight);
  color: var(--grey-color);
  display: block;
  width: 100%;
  height: 56px;
  border: 1px solid var(--rectangel-color);
  border-radius: 8px;
  padding-left: 11px;

}
#email::placeholder{
  opacity: 0.4;
}
#email:focus{
  color: var(--black-color);
}
.form-button {
  margin: 40px 0 16px 0;
 width: 288px;
}
.form__accept {
  padding-left: 24px;
  color: var(--grey-color);
  font-size: 14px;
  line-height: 24px;
}
.form__accept a{
  color: var(--grey-color);
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid var(--grey-color);
}

/* ----------------------------- MOBILE-BLOCK-4----------------------------- */
@media(max-width:1150px){
  .info-block-4{
    padding: 100px 0 110px 0;
  }
  .block-4__row{
    max-width: 466px;
    display: block;
    margin: 0 auto;
  }
  .bolck-4-column__head{
    width: 466px;
    text-align: center;
  }
  .block-4-column__text{
    width: 466px;
    text-align: center;
  }
  .form-button{
    margin: 30px auto 10px auto;
  }
  .form__accept{
    width: fit-content;
    margin: 0 auto;
  }
}
@media (max-width:500px) {
  .info-block-4{
    padding: 100px 0 110px 0;
  }
  .block-4__row{
    max-width: 311px;
  }
  .bolck-4-column__head{
    width: 300px;
    margin: 0 auto;
    font-size: calc(var(--H2-size) - 6px);
    text-align: center;
  }
  .block-4-column__text{
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;
    font-size: calc(var(--middle-text-size) - 6px);
  }
  .block-4-column__img {
    width: 310px;
    height: 231px;
    margin: 0 auto;
  }
  .block-4-column__img img{
    margin: 0 auto;
    object-fit: contain;
    width: 310px;
    height: 231px;
  }

}

/* ------------------------INFO-BLOCK-5 ------------------------------------*/


.info-block-5 {
  background: var(--white-color);
  padding: 116px 0;
}

.block-5__head {
  max-width: 1134px;
  margin: 0 auto;
  text-align: center;
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H1-size);
  line-height: var(--H1-line-height);
}
.block-5__slider {
  display: flex;
  align-items: center;
  max-width: 1334px;
  margin: 0 auto;
}
.slider__button {
  width: 19.94px;
  height: 52px;
  cursor: pointer;
}
.slider__button img{
  width: 19.94px;
  height: 52px;
  object-fit: contain;
}
.prev {
}
.slider__item {
  display: flex;
  align-items: center;
  margin: 48px 149px 0 32px;
  max-width: 1016px;
}

.left {
  margin: 92px 32px 0 0;
  max-width: 317px;
}
.slider__logo {
  height: 50px;
  width: 220px;
}
.slider__logo img{
  height: 50px;
  width: 220px;
  object-fit: contain;
}
.slider__title {
  margin: 23px 0 4px 0;
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H3-size);
  line-height: var(--h3-line-height);
}
.slider__subtitle {
  color: var(--grey-color);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;

}
.slider__text {
  color: var(--grey-color);
  font-size: var(--big-text-size);
  line-height: var(--big-text-line-height);
}
.slider__text span{
  color: var(--purple-color);
  text-decoration: underline;
}

.block-5__separator{
  height: 500px;
}
.middle {
  margin:24px 0 0 114px;
  max-width: 319px;
}
.slider__headline {
  display: flex;
  align-items: center;
}
.headline__first a{
  color: var(--black-color);
  font-size: 19px;
  line-height: 24px;
}
.headline__crop {
  background: #E82264;
  width: 7px;
  height: 7px;
  border-radius: 141px;
  margin: 0 16px;
}
.headline__href a{
  font-size: 19px;
  font-weight: var(--bold-title-weight);
  line-height: 24px;
  color: var(--purple-color);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5)
}
.middle-title{
  margin: 40px 0 4px 0;
}
.slider__feedback{
  font-feature-settings: 'tnum' on, 'lnum' on;
  text-align: left;
  color: var(--grey-color);
  font-weight: var(--regular-text-weight);
  font-size: var(--row-text-size);
  line-height: var(--row-text-line-height);
  margin-bottom: 16px;
  max-width: 310px;
}
.slider__feedback p{
  padding-bottom: 32px;
}
.slider__openall a{
  color: var(--purple-color);
  font-weight: var(--regular-text-weight);
  font-size: var(--row-text-size);
  line-height: var(--row-text-line-height);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5)
}
.slider__img{
  margin: 75px 0 0 32px;
}
.slider__img img{
  width: 201px;
  height: 275.82px;
  object-fit: contain;
}
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 500px;
  background: var(--rectangel-color); 
  opacity: 0.4;
  border: 1px solid var(--rectangel-color);
  border-radius: 122px;
}


.block-5__slider-separator {
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(69, 94, 133, 0) 0%, #415C84 100%);
  opacity: 0.05;
  height: 10px;
}


.block-5__sliderline {
  display: flex;

}
.sliderline__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
  width: 201px;
  height: 148px;
}
.sliderline__item:last-child{
  margin-right: 0;
}
.sliderline__logo{
  object-fit: contain;
  min-height: 64px;
  opacity: 0.54;
}
.sliderline__logo img{
  
  opacity: 0.54;
}
.logo1 img{
  width: 166px;
  height: 37.54px;
  position: relative;
  top: calc(50% - 37.54px/2 - 0.23px);
}
.logo2 img{
  width: 91.59px;
  height: 64px;
  position: relative;
  top: calc(50% - 64px/2);
}
.logo3 img{
  width: 166px;
  height: 37.54px;
  object-fit: cover;
  position: relative;
  top: calc(50% - 37.54px/2 - 0.23px);
}
.logo4 img{
  width: 81.72px;
  height: 64px;
  position: relative;
  top: calc(50% - 64px/2);
}
.logo5 img{
  width: 92.38px;
  height: 64px;
  position: relative;
  top: calc(50% - 64px/2);
}
.logo6 img{
  width: 110.67px;
  height: 64px;
  position: relative;
  top: calc(50% - 64px/2);
}
.sliderline__title {
  margin: 8px 0 8px 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--purple-color);
  font-weight: var(--bold-title-weight);
  cursor: pointer;
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
  opacity: 1;
}
.sliderline__subtitle {
  color: var(--grey-color);
  font-size: 12px;
  line-height: 12px;
  opacity: 0.3;
}
.active{
  background-color:var(--bg-color-white);
  color: var(--black-color);
  border-bottom: none;
  opacity: 1;
}
.active img{
  opacity: 1;
}
/* -------------------------MOBILE-BLOCK-5-SLIDER=------------------------- */
@media (max-width:1310px) {
  
.block-5__head{
  font-size: calc(var(--H1-size) - 6px);
}


  .slider__item{
    max-width: 767px;
    flex-wrap: wrap;
    min-height: 0;
    margin: 10px auto;
    height: 100%;  
    text-align: center;
  }
  .block-5__separator{
    width: 0;
    height: 0;
  }
  .slider__column{
    margin: 10px auto;
  }
  .slider__img{
    margin: 10px auto;
  }
  .left{
    margin: 0 auto;
    text-align: center  ;
  }
  .block-5__sliderline{
    flex-wrap: wrap;
  }
  .sliderline__item{
    margin: 0 auto;
  }
  .sliderline__item:last-child{
    margin: 0  auto;
  }
}
@media (max-width:747px){
  .info-block-5{
    padding: 50px 0;
  }
  .block-5__head{
    line-height: 24px;
    font-size: 200%;
    margin:10px auto;
  }
  .slider__logo{
    margin: 0 auto;
  }
  .sliderline__item{
    max-width: 150px;
  }
  .sliderline__logo img{
    max-width: 150px;
  }
}
@media (max-width:500px){
  .slider__button{
    width: 0;
    height: 0;
  }
  .slider__button img{
    width: 0;
    height: 0;
  }
}
/* ----------------------------------INFO-BLOCK-6-------------------------- */

.info-block-6 {
  padding: 92px 0 0 0;
}
.main__title {
  margin: 0 0 48px 0;
}
.block-6__second-slider {
  margin: 0 auto;
  max-width: 1303px;
  display: flex;
  align-items: center;
}
.second-slider__button {
  cursor: pointer;
}
.second-slider__button img{
  width: 19.94px;
  height: 52px;
}
.second-next img{
  width: 19.94px;
  height: 52px;
}
.second-slider__item {
  max-width: 1016px;
  display: flex;
  margin: 0 182.45px 0 64px;

}
.second-slider__column {
  margin-left: 117px;
  font-weight: var(--regular-text-weight);
  color: var(--grey-color);
  font-size: var(--row-text-size);
  line-height: var(--row-text-line-height);
}
.second-slider__headline {
  justify-content: center;
}

.second-headline__first a{
  font-size: 19px;
  font-weight: var(--bold-title-weight);
  line-height: 24px;
  color: var(--purple-color);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5)
}

.second-headline__href a{
  color: var(--black-color);
  font-size: 19px;
  line-height: 24px;
  border-bottom: none;
}

.second-slider__openall {
  margin-top: 12px;
}
.sliderline__title {
  color: var(--black-color);
  border-bottom: none;
  opacity: 0.3;
}
.active {
  opacity: 1;
}
/* -------------------------  MOBILE-BLOCK-6-SLIDER-------------------------- */
@media (max-width: 1311px) {


  .second-slider__item{
    margin: 0 auto;
  }
}

@media(max-width:747px) {
  .second-slider__item{
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }
  .second-slider__left{
    text-align: center;
  }
  .second-slider__column{
    margin: 0 auto;
  }
  .second-slider__button img{
    width: 0;
    height: 0;
  }
}

/* --------------------------------INFO-BLOCK-7---------------------------- */
.info-block-7{
  margin-top: 92px;
  background: url(../img/block-7__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.block-7__content {
  max-width: 1289px;
 margin: 0 auto;
 padding: 184px 0 208px 0;
  display: flex;
}
.block-7__title {
  padding-top: 47px;
  max-width: 667px;
  margin-right: 117px;
  color: var(--white-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H1-size);
  line-height: var(--H1-line-height);
}
.block-7__title span{
  background: #FFE60059;
}
.block-7__card{
  margin-top: 20px;
  background-color: var(--white-color);
  max-width: 466px;
  box-shadow: 16px -18px #DDE2DE, 32px -34px #BDC7BF;
}
.card-content{
  padding: 0 0 64px 33px;
}
.card-title {
  padding: 40px 0;
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H3-size);
  line-height: var(--h3-line-height);
}
.card-text {
  font-weight: var(--regular-text-weight);
  font-size: var(--row-text-size);
  line-height: var(--row-text-line-height);
}
.check-title{
  display: block;
  padding: 40px 0 8px 0;
  color: var(--grey-color);
  font-weight: var(--regular-text-weight);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on;
}
.block-7__radiobutts {
  margin-bottom: 16px;
  display: flex;
}
.radiobutts__item{
  cursor: pointer;
  margin-right: 9px;  
  width: 128px;
  height: 112px;
  border-radius: 8px;
  border: 1px solid var(--rectangel-color);
  padding: 2px 0 16px 2px;
}
.radiobutts__item:last-child{
  margin-right: 0;
}
.radiobutts__item input[type="radio"] {
  display: none;
}
.radiobutts__item label{
  display: inline-block;
	cursor: pointer;
	position: relative;
  user-select: none;
}
.radiobutts__item label::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: -12px;
  background: url(../img/radiobut-unactive.png) 0 0 no-repeat;
  background-size: contain;
}
.radiobutts__item input[type=radio]:checked + label::before {
  background: url(../img/radiobut__active.png) 0 0 no-repeat;
  background-size: contain;
}
.radio-img{
  text-align: center;
}
.radiobutts__item img{
  width: 48px;
  height: 48px;
}
.radiobutts-title{
  padding-top: 16px;
  margin: 0 auto;
  text-align: center;
  font-weight: var(--bold-title-weight);
  font-size: 16px;
  line-height: 16px;
}


.block-7__input{

  font-size: 18px;
  font-weight: var(--regular-text-weight);
  color: var(--grey-color);
  color: transparent;
  padding-left: 11px;
  width: 280px;
  height: 56px;
  border: 1px solid var(--rectangel-color);
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}
.block-7-form-button {
  margin: 40px 0 16px 0;
}
.block-7__accept{
  padding-left: 0;
}


.block-7__accept input[type="checkbox"] {
  opacity: 0;
}
.block-7__accept label {
  display: inline-block;
	cursor: pointer;
	position: relative;
  user-select: none;
}
.block-7__accept label::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #BFBBAC;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: none;
}
.block-7__accept input[type="checkbox"]:checked + label::before {
  background-image: url(../img/check__active.png);
}
.radio-active{
  color: #E82264;
  border: 2px solid #E82264;
}

/* -----------------------BLOCK-7-MOBILE----------------------------------- */

@media (max-width: 950px) {
  .block-7__content{
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .block-7__title{
    margin: 0 auto;
    text-align: center;
    margin-right: 0;
  }
  .block-7__card {
    margin: 40px auto;
    max-width: 466px;
  }
}
@media (max-width:500px) {
  .block-7__title{
    font-size: 250%;
    line-height: 32px;
  }
  .block-7__radiobutts{
    display: block;
    margin: 0 auto;
  }
  .radiobutts__item{
    margin: 0 auto;
  }
  .radiobutts__item:last-child{
    margin: 0 auto;
  }
  .form-title{

  }
  .block-7__input{
    width: 160px;
  }
  .block-7-form-button{
    width: 280px;
  }
}
/* -------------------------------- BLOCK-8 -------------------------------- */
.info-block-8 {
  background-color: var(--white-color);
}
.block-8__content {
  max-width: 1133px;
  margin: 0 auto;
  padding: 270px 0 227px 0;
}
.block-8__head {
  text-align: center;
  font-weight: var(--bold-title-weight);
  font-size: var(--H1-size);
  line-height: var(--H1-line-height);
}
.block-8__row {
  margin: 0 auto;
  padding-top:61px;
  display: flex;
}
.block-8__column {
  max-width: 466px;
  margin-right: 100px;
}
.block-8__column:last-child{
  margin-right: 0;
}
.block-8__column:first-child{
  margin-top: 32px;
}
.block-8__title-img-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block-8-img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
  display: flex;
  text-align: center;
  justify-content: center ;
}
.block-8-img:last-child{
  margin-top: 5px;
  margin-right: 0;
}
.block-8-img:first-child img{
  width: 54px;
  height: 54px;
  object-fit: contain;
}
.block-8-img:nth-child(2) img{
  width: 59px;
  height: 59px;
  object-fit: contain;
}
.block-8-img:nth-child(3) img{
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.block-8-img:last-child img{
  width: 52px;
  height: 55px;
  object-fit: contain;
}
.block-8__column-title {
  padding: 40px 0 16px 0;
  font-weight: var(--bold-title-weight);
  font-size: var(--H2-size);
  line-height: var(--H2-line-height);
}
.block-8__column-text {
  font-weight: var(--regular-text-weight);
  font-size: var(--big-text-size);
  font-weight: var(--big-text-line-height);
  font-feature-settings: 'tnum' on, 'lnum' on;
  opacity: 0.6;
}
.block-8__column-head-img img{
  width: 94px;
  height: 96px;
}

/* --------------------------- MOBILE-BLOCK-8------------------------------- */
@media (max-width:840px) {
  .block-8__content{
    padding: 170px 0 127px 0 ;
  }
  .block-8__row{
    margin: 0 auto;
    display: block;
  }
  .block-8__separator{
    width: 0;
    height: 0;
    margin: 0;
  }
  .block-8__column{
    margin: 20px auto;
  }
  .block-8__column:last-child{
    margin: 0 auto;
  }
  @media (max-width:500px) {
    .block-8__head{
      font-size: 200%;
      line-height: 24px;
    }
    .block-8__column-title{
      text-align: center;
      font-size:200%;
    }
    .block-8__column-text{
      text-align: center;
      font-size: 150%;
    }
    .block-8__title-img-row{
      justify-content: center;
    }
    .block-8__column-head-img{
      text-align: center;
    }
  }
} 

/*------------------------------ BLOCK-9 ------------------------------  */

.info-block-9 {
}
.block-9-firsthalf {
  min-height: 540px;
  background: var(--block1-first-half-color);
}
.block-9-firsthalf__content {
  position: relative;
  padding: 77px 0 0 0;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  align-items: center;
}
.block-9-firsthalf-title {
  margin-top: 160px;
  text-align: left;
  width: 650px;
  font-weight: var(--bold-title-weight);
  font-size: var(--H1-size);
  line-height: var(--H1-line-height);
}
.block-9-firsthalf-img {
  position: absolute;
  top: 80px; 
  left: 470px;
  z-index: 2;
}
.block-9-firsthalf-img img{
  width: 642px;
  height: 545px;
}
.block-9-secondhalf {
  background-color: var(--block1-second-half-color);
  position: relative;
  z-index: 2;
}
.block-9-secondhalf__content {
  margin: 0 auto;
  max-width: 1366px;
  padding: 40px 0 200px 0;
  display: flex;
}
.block-9-secondhalf__column {
  max-width: 434px;
  margin-right: 32px;
}
.block-9-secondhalf__column:first-child{
 margin-right: 39px;

}
.block-9-secondhalf__column:last-child{
  margin-right: 0;
}
.block-9-secondhalf__img {
  text-align: center;
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
}
.block-9-secondhalf__img:first-child img{
  width: 69px;
  height: 77px;
}
.block-9-secondhalf__img:nth-child(2) img{
  width: 77px;
  height: 77px;
}
.block-9-secondhalf__img:last-child img{
  width: 85px;
  height: 61px;
}
.block-9-secondhalf__text {
  color: var(--black-color);
  font-weight: var(--regular-text-weight);
  font-size: var(--big-text-size);
  line-height: var(--big-text-line-height);
}
/* -----------------------------MOBILE-BLOCK-9------------------------------- */
@media (max-width:1133px) {
  .block-9-firsthalf__content{
    display: block;
  }
  .block-9-firsthalf-title{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
  .block-9-firsthalf-img{
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .block-9-secondhalf__content{
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .block-9-secondhalf__column{
    margin: 0 auto;
  }
}
@media (max-width:675px) {
  .block-9-firsthalf-img img{
    width: 310px;
    height: 270px;
  }
}
@media (max-width:500px) {
  .block-9-secondhalf__column{
    text-align: center;
    margin: 0 auto;
  }
  .block-9-secondhalf__column:first-child {
    margin: 0 auto;
  }
  .block-9-secondhalf__column:last-child {
    margin: 0 auto;
  }
  .block-9-firsthalf{
    min-height: fit-content;
  }
  .block-9-firsthalf-title{
    font-size: 200%;
    line-height: 24px;
  }
  .block-9-secondhalf__content{
    display: block;
    text-align: center;
    padding: 20px 0 100px 0;
  }
  .block-9-secondhalf__img{
    margin: 0 auto;
    text-align: center;
  }
  .block-9-secondhalf__text{
    font-size: 150%;
    line-height: 24px;
  }
}

/* --------------------------------BLOCK-10 --------------------------------- */

.info-block-10 {
}
.block-10-content{
  padding: 229px 0 259px 0;
}
.container {
}
.block-10__head {
  text-align: center;
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H1-size);
  line-height: var(--H1-line-height);
}
.block-10__row {
  margin-top: 80px;
  display: flex;
}
.block-10__column {
  max-width: 318px;
  margin-right: 32px;
}
.block-10__column:last-child{
  margin-right: 0;
}
.block-10__img {
  width: 96px;
  height: 96px;
}
.first-column-img img{
  width: 81px;
  height: 77px;
}
.second-column-img img{
  width: 77px;
  height: 77px;
}
.third-column-img img{
  width: 77px;
  height: 77px;
}
.four-column-img img{
  width: 85px;
  height: 61px;
}
.block-10__title {
  margin: 32px 0 16px 0;
  font-weight: var(--bold-title-weight);
  font-size: var(--H3-size);
  line-height: var(--h3-line-height);
}
.block-10__text {
  color: var(--grey-color);
  font-size: var(--row-text-size);
  line-height: var(--row-text-line-height);
  font-feature-settings: 'tnum' on, 'lnum' on;
}
.block-10__text p{
  padding-top: 10px;
}
/* --------------------------- MOBILE-BLOCK-10 --------------------------- */

@media (max-width:1000px) {
  .block-10__row{
    max-width: 950px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .block-10__column{
    margin: 10px auto;
  }
  .block-10__column:last-child{
    margin: 0 auto;
  }
}
@media (max-width:500px) {
  .block-10-content{
    padding: 129px 0 159px 0;
  }
  .block-10__row{
    padding: 30px;
  }
  .block-10__column{
    text-align: center;
  }
  .block-10__img{
    margin: 0 auto;
  }
  .block-10__head{
    font-size: 200%;
    line-height: 24px;
  }
  .block-10__title{
    font-size: 160%;
  }
  .block-10__text{
    font-size: 150%;
  }
}

/* -------------------------------- BLOCK-11 --------------------------------- */

.info-block-11 {
  background: url(../img/block-11-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.block-11__content {
  max-width: 1133px;
  padding: 200px 0 427px 0;
  margin: 0 auto;
}
.block-11__title {
  text-align: center;
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: 64px;
  line-height: 72px;
}
.block-11__text {
  margin: 32px auto 41px auto;
  text-align: center;
  max-width: 693px;
  font-weight: var(--regular-text-weight);
  font-size: var(--big-text-size);
  line-height: var(--big-text-line-height);
}
.block-11__text span{
   background: rgba(255, 230, 0, 0.35);
   font-weight: var(--bold-title-weight);
}
.block-11__button {
  letter-spacing: 0.01em;
text-transform: uppercase;
font-feature-settings: 'tnum' on, 'lnum' on;
  margin: 0 auto;
  width: 252px;
}

/* -----------------------------  MOBILE-BLOCK-11 ------------------------- */
@media (max-width:906px) {
  .block-11__title{
    font-size: 250%;
    line-height: 36px;
  }
  .block-11__text{
    font-size: 150%;
  }
}
@media (max-width:510px) {
  .block-11__content{
    padding: 100px 0 227px 0;
  }
  .block-11__title{
    font-size: 210%;
    line-height: 36px;
  }
  .block-11__text{
    font-size: 150%;
  }
}

/* --------------------------------BLOCK-12------------------------------- */

.info-block-12 {
}
.block-12__container {
  padding: 64px 0 31px 0;
}
.container {
}
.block-12__head {
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H1-size);
  line-height: var(--H1-line-height);
  text-align: center;
}
.block-12__subtitle {
  padding: 30px 0 80px 0 ;
  color: var(--black-color);
  font-weight: var(--regular-text-weight);
  font-size: var(--middle-text-size);
  line-height: var(--big-text-line-height);
  text-align: center;
}
.block-12__person-sector {
  
  display: flex;
}
.sector__img {
  min-width: 667px;
  margin-right: 32px;
  padding-left: 277px;
  width: 285px;
  height: 459px;
}
.sector__img img{
  width: 285px;
  height: 459px;
}
.person-sector__info {

  max-width: 667px;
}
.person-sector__name {
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H2-size);
  line-height: var(--H2-line-height);
}
.person-sector__position {
  padding: 8px 0 43px 0;
  color: var(--grey-color);
  font-weight: var(--regular-text-weight);
  font-size: var(--middle-text-size);
  line-height: var(--big-text-line-height);
}
.person-sector__row {
  display: flex;
}
.person-sector__column {
  margin-right: 32px;
}
.person-sector:last-child{
  margin-right: 0;
}
.person-sector__head {
  color: var(--black-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H3-size);
  line-height: var(--h3-line-height);
}
.person-sector__text {
  padding: 10px 0 16px 0;
  color: var(--grey-color);
  font-weight: var(--regular-text-weight);
  font-size: 14px;
  line-height: 20px;
}
.person-sector__quote {
  color: var(--grey-color);
  font-size: var(--big-text-size);
  font-weight: var(--regular-text-weight);
  line-height: var(--big-text-line-height);
}
.block-12__sliderpersons {
  margin: 0 auto;
  display: flex;
}
.sliderpersons__person {
  padding: 24px 0;
  text-align: center;
  margin-right: 32px;
  width: 318px;
  height: 252px;
  cursor: pointer;
}
.sliderpersons__person:last-child{
  margin-right: 0;
}
.person__img {
  margin: 0 auto;
  width: 128px;
  height: 128px;
}
.person__img img{
  border-radius: 50%;
  width: 128px;
  height: 128px;
}
.sliderpersons__name {
  margin: 0 auto;
  width: fit-content;
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
  padding: 8px 0;
  color: var(--purple-color);
  font-weight: var(--bold-title-weight);
  font-size: var(--H3-size);
  line-height: var(--h3-line-height);

}
.sliderpersons__position {
  color: var(--grey-color);
  font-weight: var(--regular-text-weight);
  font-size:var(--row-text-size);
  line-height: var(--row-text-line-height);
}
.sliderpersons__active {
  border-bottom: none;
  background-color: var(--bg-color-white);
  color: var(--black-color);
}