@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  height: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none;
  /* color: #000; */
  /* display: block; */
 }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }
/* ------------------------------------------------- */
:root {
  --purple-color:#4655A5;
  --grey-color:#6A7E80;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Ubuntu:wght@400;700&display=swap');
.block1{
  max-width: 1366px;
  margin: 31px auto;
}
:root
/*  HEAD */
.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 35px;
}
.menu__group1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.menu__logo {
  display: block;
  margin-right: 10px;
}
.menu__logo img {
  min-width: 124px;
  min-height: 27px;
}
.menu__text {
  margin-top: 10px;
  max-width: 136px;
  font-size: 10px;
  text-align: left;
  color: #708294;
  margin-right: 45px;
  white-space: nowrap;
}
.menu__enter, .menu__registr {
  position: relative;
  margin-right: 24px;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: var(--purple-color);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
}
.menu__grop2 {
  display: flex;
  align-items: center;
}
.menu__question {
font-size: 18px;
font-weight: 400;
line-height: 28px;
color: #6A7E80;
}
.menu__question a {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #000;
  padding: 0 24px 0 11px;

}
.menu__button {
  margin-top: 2px;
  background: #EDF2F7;
  min-width: 195px;
  min-height: 40px;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 20px;
} 
.menu__link{
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
  color: var(--purple-color);
}

/* --------------MAIN-HEAD-BLOCK--------------------------------- */
.block1__main {
  margin: 122px auto;
}
.main__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;

}
.main__text {
  max-width: 584px;
  margin: 24px auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.main__text span {
  background: rgba(255, 230, 0, 0.35);
} 
.main__rightrow {
  margin-top: 43px;
  display: flex;
  align-items: baseline;
  margin-left: calc(50% - 273px/2);
}
.main__item {
  margin-right: 149px;
}
.main__item:last-child {
  margin-right: 0px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.01em;
  background: radial-gradient(100% 385.84% at 0% 100%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(97.32% 97.32% at 50% 2.68%, rgba(251, 0, 255, 0.8) 0%, rgba(242, 213, 223, 0) 100%), linear-gradient(180deg, #E82299 0%, #FF0055 100%);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.01), 0px 2px 4px rgba(255, 255, 255, 0.1), 0px 4px 16px rgba(255, 0, 0, 0.1), 0px 8px 24px rgba(227, 18, 209, 0.1);
  border-radius: 999px;
}
.item__tit {
  position: relative;
  text-align: right;
  margin-bottom: 16px;
  min-width: 322px;
}
.item__tit a{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--purple-color);
  border-bottom: 1px solid rgba(70, 85, 165, 0.5);
}
.item__tit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/play.png) 0 0 no-repeat;
  background-size: cover ;
  width: 48px;
  height: 48px; 
}

.item__body {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  max-width: 258px;
  margin-left: 50px;
  color: #6A7E80;
}
.item__body span {
  color: #E82264;
}
.main__advantage {
  margin: 46px auto; 
  margin-bottom: 105px; 
  display: flex;
  max-width: 984px;
  align-items: baseline;
}
.advantage-column {
  margin-right: 65px;
}
.advantage-column:last-child{
  margin-right: 0;
}
.advantage__item1 {
  background: url(../img/nout.png) no-repeat;
  background-size: cover;
  width: 95px;
  height: 83px;
}
.advantage__item2 {
  background: url(../img/clock.png) no-repeat;
  background-size: cover;
  width: 90px;
  height: 97px;
}
.advantage__item3 {
  background: url(../img/lybraries.png) no-repeat;
  background-size: contain;
  width: 65px;
  height: 72px;
}
.item__head {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;

}
.item__text {
  margin-top: 8px;
  max-width: 285px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  max-height: 84px;
}
/* ----------------------------------MAIN/HEAD-INFO__BLOCK ------------------------------- */
.info-block {
}
.first-half {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #D7E2EC 0%, #FBFDFF 85.21%);
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.first__row {
  display: flex;
  align-items: flex-start;
}
.first__item {
  padding: 142px 0 130px 0;
}
.first__title {
  max-width:  903px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  }
.first__text {
  max-width: 610px;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;

}
.item__img {
  position: absolute;
  margin-top: 20px;
  left: calc(672 * 100% / 1366);
  background: url(../img/bg__img.png) no-repeat;
  background-size: contain;
  min-width: 683px;
  min-height: 376px;
}

/* --------------------------------------------------- */

.second-half {
  background: #EFF4F9;
}
.second__row {
  padding: 49.5px 0 137px 0;
  display: flex;
}
.second__column {
  margin-right: 32px;
}
.second-column:last-child {
  margin-right: 0;
}
.second__img {
  height: 77px;
  width: 77px;
}
.logic {
  background: url(/img/logic.png) no-repeat;
  background-size: contain;
  height: 69px;
  width: 65px;
  margin:0 0 24.5px 17.5px;
}
.clock {
  background: url(/img/clock2.png) no-repeat;
  background-size: contain;
}
.message {
  background: url(/img/message.png) no-repeat;
  background-size: contain;
}
.second__title {
  margin: 20.5px 0 24px 0;
  max-width: 434px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.second__text {
  color: #6A7E80;
  max-width: 434px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

/* -------------------------INFO-MAIN-BLOCK-2-------------------------------- */
.info-block-2 {
  padding-top: 80px;
  background-color: #F9FBFB;
}
.container {
}
.block-2__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  padding-bottom: 24px;
}
.block-2__text {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 73px;
}
.block-2__container {
  max-width: 1173px;
}
.block-2__group {
  width: 1173px;
  margin-left:calc(160 * 100% / 1366);
}

.group__row {
  margin-bottom: 169px;
  display: flex;
  align-items: center;
}
.group__row:last-child {
  margin-bottom: 0;
  padding-bottom: 167.5px;
}
.group__item {
  margin-right: 32px;
}
.group__item:last-child {
  margin-right: 0;
}
.group__title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;

}
.group__text {
  max-width: 434px;
  color:#6A7E80;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;

}
.group__border {
  position: relative;
  padding-top: 20px;
  width: 667px;
  height: 420px;
  background: linear-gradient(180deg, #F1F5F8 47.4%, #FFFFFF 100%);
  border-radius: 5px;
  box-shadow: 0px -2px 0px 2px #fff, 0px -10px 40px 0px rgba(69, 130, 134, 0.2);
}

.group__bg {
  margin: 0px 0 0 20px ;
  border-radius: 5px; 
  background: url(../img/group-img_1.png) no-repeat;
  background-size: cover;
  width: 628px;
  height: 387px;
}
.group__border::before {
  content: '';
  top: 367.65px;
  right: -6%;
  position: absolute;
  width: 747px;
  height: 60px;
  background: #F9FBFB;
}
.twobg {
  background: url(../img/group-img_2.jpg) no-repeat;
  background-size: contain;
}
.threebg {
  background: url(../img/group-img_3.png) no-repeat;
  background-size: cover;
  height: 367.65px;
}
.fourbg{
  background: url(../img/group-img_4.png) no-repeat;
  background-size: contain;
  width: 628.42px;
}
/* -------------------------MAIN-BLOCK-3----------------------------- */
.info-block-3 {
}
.block-3__half-one {
  width: 100%;
  background: linear-gradient(90deg, #FFFCF9 0%, #EACFB0 100%) ;
}
.half-one__row {
  padding-top: 156px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 68px;
}
.half-one__title {
  margin: 0 32px 80px 0;
  max-width: 667px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}
.half-one__img {
  background: url(../img/block-3_img.png);
  background-size: contain;
  width: 667px;
  height: 445px;
}
.block-3__half-two {
  min-height: 540px;
  position: relative;
  background: #F6EADC;
  width: 100%;
  z-index: 2;
}
.half-two__row {
  background: transparent;
  position: absolute;
  top: -28px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 264px;
  z-index: 1;
}
.two-row__column {
  margin-right: 32px;
}
.two-row__column:last-child {
  margin-right: 0;
}
.two-row__img {
  width: 64px;
  height: 64px;
}
.row1 {
  background: url(../img/birk.png);
  background-size: contain;
}
.row2 {
  background: url(../img/ways.png);
  background-size: contain;
}
.row3 {
  background: url(../img/scale.png);
  background-size: contain;
}
.row4 {
  background: url(../img/structure.png);
  background-size: contain;
}
.two-row__title {
  margin: 23.65px 0 16px 0;
  max-width: 318px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.two-row__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  max-width: 318px;
  color: var(--grey-color);
}
